NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDBGE2Selz7w7GMzPmCJ9c8hAtwwEb5XiWU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=bookhood-d2836.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bookhood-d2836
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=bookhood-d2836.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=384711663163
NEXT_PUBLIC_FIREBASE_APP_ID=1:384711663163:web:dd7996653629d13751061e
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-M9TY33C73N
